* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif; 
    text-align: center;
    color: #404040;
}
/* typography */
h1{
    font-size: 2.25rem;
    font-weight: 300;
    color: #fff;
    margin: 0;
}
h1 + p{
    font-size: 1.3125rem;
    font-weight: 900;
    color: #f18119;
    text-transform: uppercase;
    margin: 0%;
}
h2{
    font-size: 1.3125rem;
    margin:0;
}
h2 + p{
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #f18119;
    margin-top: 0;
}
strong{
    font-weight: 900;
}
.top-text{
    margin:0%;
    font-size: .625rem;
    color: #f18119;
    font-weight: 900;
    text-transform: uppercase;
    order: -1;
    border-top: 5px solid #f18119;
    border-image: linear-gradient(45deg,#ffa51d,#ec622b) 1;
    max-width: 170px;
    padding-top: 3px;
    margin:0 auto;
    letter-spacing: 1px;
}
.permission-text{
    font-size: .625rem;
    letter-spacing: .75px;
}
/* first layout */
.intro{
    background-image: url(../images/dark-ribs.jpg);
    background-size: cover;
    background-position: center;
    background-color: #404040;
    padding: 0  .5em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}
/* main layout */
.main-content{
    padding: 2em 1em;
}
.main-content * {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
/* form */
input{
    font-family: inherit;
    text-align: inherit;
    margin-bottom: .8em;
    padding: .8em;
    border: 1px solid #404040;
    transition: transform 500ms;
}
form{
    width: 70%;
}
input,button{
    width: 70%;
    min-width: 150px;
    border-radius: .5em;
    transform: scale(1);    
}
button{
    background-image: linear-gradient(to right,#ffa51d,#ff713b);
    color: #fff;
    font-weight: 900;
    font-size: .625rem;
    letter-spacing: 1px;
    padding: 1.3em;
    border: 0;
    cursor: pointer;
    transform: scale(1);
    transition: color 500ms,transform 650ms;
}
button:hover,
button:focus,
input:focus
{
    color: #000000;
    transform: scale(1.055);
}
/* media quaries */
@media (min-width: 560px) {
    body {
        display: flex;
        font-size: 1.125rem;
    }
    .intro{
        width: 60%;
        min-height: 100vh;
    }
    .main-content{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1 {
        font-size: 3.5rem;
    }
    
    h2,
    h1 + p {
        font-size: 1.75rem;
    }
    
}